In [1]:
import pandas as pd

gastopublicLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/GastopublicoEducacion.csv'
onuLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/ONU.csv'
reservaspetLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/Reservaspet.csv'

gastopublic=pd.read_csv(gastopublicLink)
onu=pd.read_csv(onuLink)
reservaspet=pd.read_csv(reservaspetLink)

In [2]:
gastopublic.shape,onu.shape,reservaspet.shape

((192, 2), (193, 2), (99, 2))

In [3]:
gastopublic.columns,onu.columns,reservaspet.columns

(Index(['Countries', 'Education Expenditure ($M)'], dtype='object'),
 Index(['Countries', 'Annual GDP'], dtype='object'),
 Index(['Countries', 'Crude Oil Reserves'], dtype='object'))

In [4]:
#
merge1=gastopublic.merge(onu,how='inner',left_on='Countries',right_on='Countries').merge(reservaspet,how='inner',left_on='Countries',right_on='Countries')
merge1

,Countries,Education Expenditure ($M),Annual GDP,Crude Oil Reserves
0,United States,"1,014,715.40","$25,744,100M","44,418.00"
1,United Kingdom,"148,933.50","$3,070,600M","2,500.00"
2,Germany,"197,848.90","$4,075,395M",115.2
3,France,"150,980.20","$2,782,905M",61.7
4,Japan,"155,149.20","$4,233,538M",44.1
...,...,...,...,...
93,Uzbekistan,"2,964.80","$80,392M",594
94,Venezuela,"1,557.60","$102,021M","303,806.00"
95,Viet Nam,"13,478.30","$406,452M","4,400.00"
96,Yemen,"1,386.30","$21,062M","3,000.00"
97,South Africa,"20,902.30","$405,705M",15

In [5]:
merge1.shape

(98, 4)

In [6]:
merge1=merge1.rename(columns={"Countries": "Country"})
merge1

,Country,Education Expenditure ($M),Annual GDP,Crude Oil Reserves
0,United States,"1,014,715.40","$25,744,100M","44,418.00"
1,United Kingdom,"148,933.50","$3,070,600M","2,500.00"
2,Germany,"197,848.90","$4,075,395M",115.2
3,France,"150,980.20","$2,782,905M",61.7
4,Japan,"155,149.20","$4,233,538M",44.1
...,...,...,...,...
93,Uzbekistan,"2,964.80","$80,392M",594
94,Venezuela,"1,557.60","$102,021M","303,806.00"
95,Viet Nam,"13,478.30","$406,452M","4,400.00"
96,Yemen,"1,386.30","$21,062M","3,000.00"
97,South Africa,"20,902.30","$405,705M",15

In [7]:
merge1['Country']= merge1['Country'].str.upper()
merge1

,Country,Education Expenditure ($M),Annual GDP,Crude Oil Reserves
0,UNITED STATES,"1,014,715.40","$25,744,100M","44,418.00"
1,UNITED KINGDOM,"148,933.50","$3,070,600M","2,500.00"
2,GERMANY,"197,848.90","$4,075,395M",115.2
3,FRANCE,"150,980.20","$2,782,905M",61.7
4,JAPAN,"155,149.20","$4,233,538M",44.1
...,...,...,...,...
93,UZBEKISTAN,"2,964.80","$80,392M",594
94,VENEZUELA,"1,557.60","$102,021M","303,806.00"
95,VIET NAM,"13,478.30","$406,452M","4,400.00"
96,YEMEN,"1,386.30","$21,062M","3,000.00"
97,SOUTH AFRICA,"20,902.30","$405,705M",15

In [8]:
import pandas as pd

countryisosLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/country_isos.csv'

countryisos=pd.read_csv(countryisosLink)

In [9]:
countryisos.shape

(171, 5)

In [10]:
countryisos.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'], dtype='object')

In [14]:
OnlyMerge1=set(merge1.Country)-set(countryisos.Country)
OnlyMerge1

{'ALBANIA ',
 'ALGERIA ',
 'ANGOLA ',
 'ARGENTINA ',
 'AUSTRALIA ',
 'AUSTRIA ',
 'AZERBAIJAN ',
 'BAHRAIN ',
 'BANGLADESH ',
 'BARBADOS ',
 'BELARUS ',
 'BELIZE ',
 'BENIN ',
 'BOLIVIA ',
 'BRAZIL ',
 'BRUNEI ',
 'BULGARIA ',
 'CAMEROON ',
 'CANADA ',
 'CHAD ',
 'CHILE ',
 'CHINA ',
 'COLOMBIA ',
 'CROATIA ',
 'CUBA ',
 'CZECHIA ',
 "CÔTE D'IVOIRE ",
 'DEMOCRATIC REPUBLIC OF THE CONGO ',
 'DENMARK ',
 'ECUADOR ',
 'EGYPT ',
 'EQUATORIAL GUINEA ',
 'ETHIOPIA ',
 'FRANCE ',
 'GABON ',
 'GEORGIA ',
 'GERMANY ',
 'GHANA ',
 'GREECE ',
 'GUATEMALA ',
 'HUNGARY ',
 'INDIA ',
 'INDONESIA ',
 'IRAN ',
 'IRAQ ',
 'ISRAEL ',
 'ITALY ',
 'JAPAN ',
 'JORDAN ',
 'KAZAKHSTAN ',
 'KUWAIT ',
 'KYRGYZSTAN ',
 'LIBYA ',
 'LITHUANIA ',
 'MALAYSIA ',
 'MAURITANIA ',
 'MEXICO ',
 'MOROCCO ',
 'MYANMAR ',
 'NETHERLANDS ',
 'NEW ZEALAND ',
 'NIGER ',
 'NIGERIA ',
 'NORWAY ',
 'OMAN ',
 'PAKISTAN ',
 'PAPUA NEW GUINEA ',
 'PERU ',
 'PHILIPPINES ',
 'POLAND ',
 'QATAR ',
 'REPUBLIC OF THE CONGO ',
 'ROMANIA ',
 'RUSSIA ',
 'SAUDI ARABIA ',
 'SERBIA ',
 'SLOVAKIA ',
 'SOUTH AFRICA ',
 'SOUTH SUDAN ',
 'SPAIN ',
 'SUDAN ',
 'SURINAME ',
 'SYRIA ',
 'TAJIKISTAN ',
 'THAILAND ',
 'TRINIDAD AND TOBAGO ',
 'TUNISIA ',
 'TURKMENISTAN ',
 'TÜRKIYE ',
 'UGANDA ',
 'UKRAINE ',
 'UNITED ARAB EMIRATES ',
 'UNITED KINGDOM ',
 'UNITED STATES ',
 'UZBEKISTAN ',
 'VENEZUELA ',
 'VIET NAM ',
 'YEMEN '}

In [15]:
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
Onlycountryisos

{'AFGHANISTAN',
 'ALBANIA',
 'ALGERIA',
 'ANGOLA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS (THE)',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BHUTAN',
 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BRAZIL',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CABO VERDE',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CENTRAL AFRICAN REPUBLIC (THE)',
 'CHAD',
 'CHILE',
 'CHINA',
 'COLOMBIA',
 'COMOROS (THE)',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
 'CONGO (THE)',
 'COSTA RICA',
 'CROATIA',
 'CUBA',
 'CYPRUS',
 'CZECHIA',
 "C√ÎTE D'IVOIRE",
 'DENMARK',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC (THE)',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ESTONIA',
 'ESWATINI',
 'ETHIOPIA',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'GABON',
 'GAMBIA (THE)',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GREECE',
 'GRENADA',
 'GUATEMALA',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN (ISLAMIC REPUBLIC OF)',
 'IRAQ',
 'IRELAND',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KOREA (THE REPUBLIC OF)',
 'KUWAIT',
 'KYRGYZSTAN',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)",
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LITHUANIA',
 'LUXEMBOURG',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MAURITANIA',
 'MAURITIUS',
 'MEXICO',
 'MICRONESIA (FEDERATED STATES OF)',
 'MOLDOVA (THE REPUBLIC OF)',
 'MONGOLIA',
 'MONTENEGRO',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NEPAL',
 'NETHERLANDS (THE)',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER (THE)',
 'NIGERIA',
 'NORTH MACEDONIA',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES (THE)',
 'POLAND',
 'PORTUGAL',
 'QATAR',
 'ROMANIA',
 'RUSSIAN FEDERATION (THE)',
 'RWANDA',
 'SAMOA',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'SUDAN (THE)',
 'SURINAME',
 'SWEDEN',
 'SWITZERLAND',
 'TAJIKISTAN',
 'TANZANIA, THE UNITED REPUBLIC OF',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKMENISTAN',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES (THE)',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)',
 'URUGUAY',
 'UZBEKISTAN',
 'VIET NAM',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE'}

In [18]:
from thefuzz import process as fz

[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)]

[('AFGHANISTAN', ('GHANA ', 72)),
 ('ALBANIA', ('ALBANIA ', 100)),
 ('ALGERIA', ('ALGERIA ', 100)),
 ('ANGOLA', ('ANGOLA ', 100)),
 ('ANTIGUA AND BARBUDA', ('BARBADOS ', 60)),
 ('ARGENTINA', ('ARGENTINA ', 100)),
 ('ARMENIA', ('ARGENTINA ', 75)),
 ('AUSTRALIA', ('AUSTRALIA ', 100)),
 ('AUSTRIA', ('AUSTRIA ', 100)),
 ('AZERBAIJAN', ('AZERBAIJAN ', 100)),
 ('BAHAMAS (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('BAHRAIN', ('BAHRAIN ', 100)),
 ('BANGLADESH', ('BANGLADESH ', 100)),
 ('BARBADOS', ('BARBADOS ', 100)),
 ('BELARUS', ('BELARUS ', 100)),
 ('BELGIUM', ('BELIZE ', 62)),
 ('BELIZE', ('BELIZE ', 100)),
 ('BENIN', ('BENIN ', 100)),
 ('BHUTAN', ('BAHRAIN ', 62)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA ', 90)),
 ('BOSNIA AND HERZEGOVINA', ('SYRIA ', 54)),
 ('BOTSWANA', ('SPAIN ', 54)),
 ('BRAZIL', ('BRAZIL ', 100)),
 ('BRUNEI DARUSSALAM', ('BRUNEI ', 90)),
 ('BULGARIA', ('BULGARIA ', 100)),
 ('BURKINA FASO', ('BULGARIA ', 56)),
 ('BURUNDI', ('BRUNEI ', 77)),
 ('CABO VERDE', ('GABON ', 54)),
 ('CAMBODIA', ('COLOMBIA ', 62)),
 ('CAMEROON', ('CAMEROON ', 100)),
 ('CANADA', ('CANADA ', 100)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO ', 69)),
 ('CHAD', ('CHAD ', 100)),
 ('CHILE', ('CHILE ', 100)),
 ('CHINA', ('CHINA ', 100)),
 ('COLOMBIA', ('COLOMBIA ', 100)),
 ('COMOROS (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO ', 95)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('COSTA RICA', ('SOUTH AFRICA ', 64)),
 ('CROATIA', ('CROATIA ', 100)),
 ('CUBA', ('CUBA ', 100)),
 ('CYPRUS', ('PERU ', 68)),
 ('CZECHIA', ('CZECHIA ', 100)),
 ("C√ÎTE D'IVOIRE", ("CÔTE D'IVOIRE ", 96)),
 ('DENMARK', ('DENMARK ', 100)),
 ('DJIBOUTI', ('SAUDI ARABIA ', 45)),
 ('DOMINICAN REPUBLIC (THE)', ('INDIA ', 72)),
 ('ECUADOR', ('ECUADOR ', 100)),
 ('EGYPT', ('EGYPT ', 100)),
 ('EL SALVADOR', ('ECUADOR ', 56)),
 ('EQUATORIAL GUINEA', ('EQUATORIAL GUINEA ', 100)),
 ('ESTONIA', ('ETHIOPIA ', 67)),
 ('ESWATINI', ('SPAIN ', 62)),
 ('ETHIOPIA', ('ETHIOPIA ', 100)),
 ('FIJI', ('AZERBAIJAN ', 45)),
 ('FINLAND', ('THAILAND ', 67)),
 ('FRANCE', ('FRANCE ', 100)),
 ('GABON', ('GABON ', 100)),
 ('GAMBIA (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('GEORGIA', ('GEORGIA ', 100)),
 ('GERMANY', ('GERMANY ', 100)),
 ('GHANA', ('GHANA ', 100)),
 ('GREECE', ('GREECE ', 100)),
 ('GRENADA', ('CANADA ', 62)),
 ('GUATEMALA', ('GUATEMALA ', 100)),
 ('GUINEA', ('EQUATORIAL GUINEA ', 90)),
 ('GUINEA-BISSAU', ('EQUATORIAL GUINEA ', 60)),
 ('GUYANA', ('GHANA ', 73)),
 ('HAITI', ('KUWAIT ', 55)),
 ('HONDURAS', ('INDIA ', 54)),
 ('HUNGARY', ('HUNGARY ', 100)),
 ('ICELAND', ('THAILAND ', 67)),
 ('INDIA', ('INDIA ', 100)),
 ('INDONESIA', ('INDONESIA ', 100)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN ', 90)),
 ('IRAQ', ('IRAQ ', 100)),
 ('IRELAND', ('IRAN ', 73)),
 ('ITALY', ('ITALY ', 100)),
 ('JAMAICA', ('ALBANIA ', 57)),
 ('JAPAN', ('JAPAN ', 100)),
 ('JORDAN', ('JORDAN ', 100)),
 ('KAZAKHSTAN', ('KAZAKHSTAN ', 100)),
 ('KENYA', ('TURKMENISTAN ', 54)),
 ('KOREA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO ', 79)),
 ('KUWAIT', ('KUWAIT ', 100)),
 ('KYRGYZSTAN', ('KYRGYZSTAN ', 100)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO ', 86)),
 ('LATVIA', ('AUSTRIA ', 62)),
 ('LEBANON', ('ALBANIA ', 57)),
 ('LESOTHO', ('ETHIOPIA ', 53)),
 ('LIBERIA', ('NIGERIA ', 71)),
 ('LIBYA', ('LIBYA ', 100)),
 ('LITHUANIA', ('LITHUANIA ', 100)),
 ('LUXEMBOURG', ('GEORGIA ', 47)),
 ('MADAGASCAR', ('MALAYSIA ', 56)),
 ('MALAWI', ('MALAYSIA ', 71)),
 ('MALAYSIA', ('MALAYSIA ', 100)),
 ('MALDIVES', ('BANGLADESH ', 56)),
 ('MALI', ('ROMANIA ', 68)),
 ('MALTA', ('GUATEMALA ', 80)),
 ('MAURITANIA', ('MAURITANIA ', 100)),
 ('MAURITIUS', ('MAURITANIA ', 74)),
 ('MEXICO', ('MEXICO ', 100)),
 ('MICRONESIA (FEDERATED STATES OF)', ('UNITED STATES ', 86)),
 ('MOLDOVA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO ', 79)),
 ('MONGOLIA', ('ANGOLA ', 71)),
 ('MONTENEGRO', ('NIGER ', 54)),
 ('MOROCCO', ('MOROCCO ', 100)),
 ('MOZAMBIQUE', ('IRAQ ', 45)),
 ('MYANMAR', ('MYANMAR ', 100)),
 ('NAMIBIA', ('NIGERIA ', 57)),
 ('NEPAL', ('EQUATORIAL GUINEA ', 54)),
 ('NETHERLANDS (THE)', ('NETHERLANDS ', 95)),
 ('NEW ZEALAND', ('NEW ZEALAND ', 100)),
 ('NICARAGUA', ('NIGER ', 54)),
 ('NIGER (THE)', ('NIGER ', 90)),
 ('NIGERIA', ('NIGERIA ', 100)),
 ('NORTH MACEDONIA', ('IRAN ', 64)),
 ('NORWAY', ('NORWAY ', 100)),
 ('OMAN', ('OMAN ', 100)),
 ('PAKISTAN', ('PAKISTAN ', 100)),
 ('PANAMA', ('CANADA ', 67)),
 ('PAPUA NEW GUINEA', ('PAPUA NEW GUINEA ', 100)),
 ('PARAGUAY', ('PERU ', 50)),
 ('PERU', ('PERU ', 100)),
 ('PHILIPPINES (THE)', ('PHILIPPINES ', 95)),
 ('POLAND', ('POLAND ', 100)),
 ('PORTUGAL', ('ITALY ', 54)),
 ('QATAR', ('QATAR ', 100)),
 ('ROMANIA', ('ROMANIA ', 100)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA ', 90)),
 ('RWANDA', ('IRAN ', 68)),
 ('SAMOA', ('ANGOLA ', 55)),
 ('SAO TOME AND PRINCIPE', ('CHILE ', 54)),
 ('SAUDI ARABIA', ('SAUDI ARABIA ', 100)),
 ('SENEGAL', ('VENEZUELA ', 50)),
 ('SERBIA', ('SERBIA ', 100)),
 ('SEYCHELLES', ('CHILE ', 54)),
 ('SIERRA LEONE', ('SERBIA ', 60)),
 ('SINGAPORE', ('SURINAME ', 59)),
 ('SLOVAKIA', ('SLOVAKIA ', 100)),
 ('SLOVENIA', ('SLOVAKIA ', 75)),
 ('SOLOMON ISLANDS', ('OMAN ', 68)),
 ('SOUTH SUDAN', ('SOUTH SUDAN ', 100)),
 ('SPAIN', ('SPAIN ', 100)),
 ('SRI LANKA', ('SERBIA ', 60)),
 ('SUDAN (THE)', ('SUDAN ', 90)),
 ('SURINAME', ('SURINAME ', 100)),
 ('SWEDEN', ('SUDAN ', 55)),
 ('SWITZERLAND', ('IRAN ', 68)),
 ('TAJIKISTAN', ('TAJIKISTAN ', 100)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('UNITED STATES ', 86)),
 ('THAILAND', ('THAILAND ', 100)),
 ('TIMOR-LESTE', ("CÔTE D'IVOIRE ", 49)),
 ('TOGO', ('REPUBLIC OF THE CONGO ', 68)),
 ('TRINIDAD AND TOBAGO', ('TRINIDAD AND TOBAGO ', 100)),
 ('TUNISIA', ('TUNISIA ', 100)),
 ('TURKEY', ('TURKMENISTAN ', 75)),
 ('TURKMENISTAN', ('TURKMENISTAN ', 100)),
 ('UGANDA', ('UGANDA ', 100)),
 ('UKRAINE', ('UKRAINE ', 100)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES ', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM ', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES ', 90)),
 ('URUGUAY', ('HUNGARY ', 57)),
 ('UZBEKISTAN', ('UZBEKISTAN ', 100)),
 ('VIET NAM', ('VIET NAM ', 100)),
 ('YEMEN', ('YEMEN ', 100)),
 ('ZAMBIA', ('ALBANIA ', 62)),
 ('ZIMBABWE', ('LIBYA ', 54))]

In [19]:
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)
 if fz.extractOne(f, OnlyMerge1)[1]>=87]

[('ALBANIA', ('ALBANIA ', 100)),
 ('ALGERIA', ('ALGERIA ', 100)),
 ('ANGOLA', ('ANGOLA ', 100)),
 ('ARGENTINA', ('ARGENTINA ', 100)),
 ('AUSTRALIA', ('AUSTRALIA ', 100)),
 ('AUSTRIA', ('AUSTRIA ', 100)),
 ('AZERBAIJAN', ('AZERBAIJAN ', 100)),
 ('BAHRAIN', ('BAHRAIN ', 100)),
 ('BANGLADESH', ('BANGLADESH ', 100)),
 ('BARBADOS', ('BARBADOS ', 100)),
 ('BELARUS', ('BELARUS ', 100)),
 ('BELIZE', ('BELIZE ', 100)),
 ('BENIN', ('BENIN ', 100)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA ', 90)),
 ('BRAZIL', ('BRAZIL ', 100)),
 ('BRUNEI DARUSSALAM', ('BRUNEI ', 90)),
 ('BULGARIA', ('BULGARIA ', 100)),
 ('CAMEROON', ('CAMEROON ', 100)),
 ('CANADA', ('CANADA ', 100)),
 ('CHAD', ('CHAD ', 100)),
 ('CHILE', ('CHILE ', 100)),
 ('CHINA', ('CHINA ', 100)),
 ('COLOMBIA', ('COLOMBIA ', 100)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO ', 95)),
 ('CROATIA', ('CROATIA ', 100)),
 ('CUBA', ('CUBA ', 100)),
 ('CZECHIA', ('CZECHIA ', 100)),
 ("C√ÎTE D'IVOIRE", ("CÔTE D'IVOIRE ", 96)),
 ('DENMARK', ('DENMARK ', 100)),
 ('ECUADOR', ('ECUADOR ', 100)),
 ('EGYPT', ('EGYPT ', 100)),
 ('EQUATORIAL GUINEA', ('EQUATORIAL GUINEA ', 100)),
 ('ETHIOPIA', ('ETHIOPIA ', 100)),
 ('FRANCE', ('FRANCE ', 100)),
 ('GABON', ('GABON ', 100)),
 ('GEORGIA', ('GEORGIA ', 100)),
 ('GERMANY', ('GERMANY ', 100)),
 ('GHANA', ('GHANA ', 100)),
 ('GREECE', ('GREECE ', 100)),
 ('GUATEMALA', ('GUATEMALA ', 100)),
 ('GUINEA', ('EQUATORIAL GUINEA ', 90)),
 ('HUNGARY', ('HUNGARY ', 100)),
 ('INDIA', ('INDIA ', 100)),
 ('INDONESIA', ('INDONESIA ', 100)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN ', 90)),
 ('IRAQ', ('IRAQ ', 100)),
 ('ITALY', ('ITALY ', 100)),
 ('JAPAN', ('JAPAN ', 100)),
 ('JORDAN', ('JORDAN ', 100)),
 ('KAZAKHSTAN', ('KAZAKHSTAN ', 100)),
 ('KUWAIT', ('KUWAIT ', 100)),
 ('KYRGYZSTAN', ('KYRGYZSTAN ', 100)),
 ('LIBYA', ('LIBYA ', 100)),
 ('LITHUANIA', ('LITHUANIA ', 100)),
 ('MALAYSIA', ('MALAYSIA ', 100)),
 ('MAURITANIA', ('MAURITANIA ', 100)),
 ('MEXICO', ('MEXICO ', 100)),
 ('MOROCCO', ('MOROCCO ', 100)),
 ('MYANMAR', ('MYANMAR ', 100)),
 ('NETHERLANDS (THE)', ('NETHERLANDS ', 95)),
 ('NEW ZEALAND', ('NEW ZEALAND ', 100)),
 ('NIGER (THE)', ('NIGER ', 90)),
 ('NIGERIA', ('NIGERIA ', 100)),
 ('NORWAY', ('NORWAY ', 100)),
 ('OMAN', ('OMAN ', 100)),
 ('PAKISTAN', ('PAKISTAN ', 100)),
 ('PAPUA NEW GUINEA', ('PAPUA NEW GUINEA ', 100)),
 ('PERU', ('PERU ', 100)),
 ('PHILIPPINES (THE)', ('PHILIPPINES ', 95)),
 ('POLAND', ('POLAND ', 100)),
 ('QATAR', ('QATAR ', 100)),
 ('ROMANIA', ('ROMANIA ', 100)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA ', 90)),
 ('SAUDI ARABIA', ('SAUDI ARABIA ', 100)),
 ('SERBIA', ('SERBIA ', 100)),
 ('SLOVAKIA', ('SLOVAKIA ', 100)),
 ('SOUTH SUDAN', ('SOUTH SUDAN ', 100)),
 ('SPAIN', ('SPAIN ', 100)),
 ('SUDAN (THE)', ('SUDAN ', 90)),
 ('SURINAME', ('SURINAME ', 100)),
 ('TAJIKISTAN', ('TAJIKISTAN ', 100)),
 ('THAILAND', ('THAILAND ', 100)),
 ('TRINIDAD AND TOBAGO', ('TRINIDAD AND TOBAGO ', 100)),
 ('TUNISIA', ('TUNISIA ', 100)),
 ('TURKMENISTAN', ('TURKMENISTAN ', 100)),
 ('UGANDA', ('UGANDA ', 100)),
 ('UKRAINE', ('UKRAINE ', 100)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES ', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM ', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES ', 90)),
 ('UZBEKISTAN', ('UZBEKISTAN ', 100)),
 ('VIET NAM', ('VIET NAM ', 100)),
 ('YEMEN', ('YEMEN ', 100))]

In [20]:
changesFragile1={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if fz.extractOne(f, OnlyMerge1)[1] >=87}

changesFragile1

{'ALBANIA': 'ALBANIA ',
 'ALGERIA': 'ALGERIA ',
 'ANGOLA': 'ANGOLA ',
 'ARGENTINA': 'ARGENTINA ',
 'AUSTRALIA': 'AUSTRALIA ',
 'AUSTRIA': 'AUSTRIA ',
 'AZERBAIJAN': 'AZERBAIJAN ',
 'BAHRAIN': 'BAHRAIN ',
 'BANGLADESH': 'BANGLADESH ',
 'BARBADOS': 'BARBADOS ',
 'BELARUS': 'BELARUS ',
 'BELIZE': 'BELIZE ',
 'BENIN': 'BENIN ',
 'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA ',
 'BRAZIL': 'BRAZIL ',
 'BRUNEI DARUSSALAM': 'BRUNEI ',
 'BULGARIA': 'BULGARIA ',
 'CAMEROON': 'CAMEROON ',
 'CANADA': 'CANADA ',
 'CHAD': 'CHAD ',
 'CHILE': 'CHILE ',
 'CHINA': 'CHINA ',
 'COLOMBIA': 'COLOMBIA ',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)': 'DEMOCRATIC REPUBLIC OF THE CONGO ',
 'CROATIA': 'CROATIA ',
 'CUBA': 'CUBA ',
 'CZECHIA': 'CZECHIA ',
 "C√ÎTE D'IVOIRE": "CÔTE D'IVOIRE ",
 'DENMARK': 'DENMARK ',
 'ECUADOR': 'ECUADOR ',
 'EGYPT': 'EGYPT ',
 'EQUATORIAL GUINEA': 'EQUATORIAL GUINEA ',
 'ETHIOPIA': 'ETHIOPIA ',
 'FRANCE': 'FRANCE ',
 'GABON': 'GABON ',
 'GEORGIA': 'GEORGIA ',
 'GERMANY': 'GERMANY ',
 'GHANA': 'GHANA ',
 'GREECE': 'GREECE ',
 'GUATEMALA': 'GUATEMALA ',
 'GUINEA': 'EQUATORIAL GUINEA ',
 'HUNGARY': 'HUNGARY ',
 'INDIA': 'INDIA ',
 'INDONESIA': 'INDONESIA ',
 'IRAN (ISLAMIC REPUBLIC OF)': 'IRAN ',
 'IRAQ': 'IRAQ ',
 'ITALY': 'ITALY ',
 'JAPAN': 'JAPAN ',
 'JORDAN': 'JORDAN ',
 'KAZAKHSTAN': 'KAZAKHSTAN ',
 'KUWAIT': 'KUWAIT ',
 'KYRGYZSTAN': 'KYRGYZSTAN ',
 'LIBYA': 'LIBYA ',
 'LITHUANIA': 'LITHUANIA ',
 'MALAYSIA': 'MALAYSIA ',
 'MAURITANIA': 'MAURITANIA ',
 'MEXICO': 'MEXICO ',
 'MOROCCO': 'MOROCCO ',
 'MYANMAR': 'MYANMAR ',
 'NETHERLANDS (THE)': 'NETHERLANDS ',
 'NEW ZEALAND': 'NEW ZEALAND ',
 'NIGER (THE)': 'NIGER ',
 'NIGERIA': 'NIGERIA ',
 'NORWAY': 'NORWAY ',
 'OMAN': 'OMAN ',
 'PAKISTAN': 'PAKISTAN ',
 'PAPUA NEW GUINEA': 'PAPUA NEW GUINEA ',
 'PERU': 'PERU ',
 'PHILIPPINES (THE)': 'PHILIPPINES ',
 'POLAND': 'POLAND ',
 'QATAR': 'QATAR ',
 'ROMANIA': 'ROMANIA ',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA ',
 'SAUDI ARABIA': 'SAUDI ARABIA ',
 'SERBIA': 'SERBIA ',
 'SLOVAKIA': 'SLOVAKIA ',
 'SOUTH SUDAN': 'SOUTH SUDAN ',
 'SPAIN': 'SPAIN ',
 'SUDAN (THE)': 'SUDAN ',
 'SURINAME': 'SURINAME ',
 'TAJIKISTAN': 'TAJIKISTAN ',
 'THAILAND': 'THAILAND ',
 'TRINIDAD AND TOBAGO': 'TRINIDAD AND TOBAGO ',
 'TUNISIA': 'TUNISIA ',
 'TURKMENISTAN': 'TURKMENISTAN ',
 'UGANDA': 'UGANDA ',
 'UKRAINE': 'UKRAINE ',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES ',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM ',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES ',
 'UZBEKISTAN': 'UZBEKISTAN ',
 'VIET NAM': 'VIET NAM ',
 'YEMEN': 'YEMEN '}

In [22]:
countryisos.Country.replace(to_replace=changesFragile1,inplace=True)

In [23]:
OnlyMerge1=set(merge1.Country)-set(countryisos.Country)
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)]

[('AFGHANISTAN', ('ISRAEL ', 50)),
 ('ANTIGUA AND BARBUDA', ('SYRIA ', 36)),
 ('ARMENIA', ('SOUTH AFRICA ', 51)),
 ('BAHAMAS (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('BELGIUM', ('REPUBLIC OF THE CONGO ', 39)),
 ('BHUTAN', ('SOUTH AFRICA ', 45)),
 ('BOSNIA AND HERZEGOVINA', ('SYRIA ', 54)),
 ('BOTSWANA', ('SOUTH AFRICA ', 40)),
 ('BURKINA FASO', ('SYRIA ', 54)),
 ('BURUNDI', ('REPUBLIC OF THE CONGO ', 37)),
 ('CABO VERDE', ('REPUBLIC OF THE CONGO ', 36)),
 ('CAMBODIA', ('SYRIA ', 36)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO ', 69)),
 ('COMOROS (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('COSTA RICA', ('SOUTH AFRICA ', 64)),
 ('CYPRUS', ('SYRIA ', 36)),
 ('DJIBOUTI', ('SOUTH AFRICA ', 40)),
 ('DOMINICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO ', 69)),
 ('EL SALVADOR', ('ISRAEL ', 45)),
 ('ESTONIA', ('SYRIA ', 50)),
 ('ESWATINI', ('SYRIA ', 36)),
 ('FIJI', ('SOUTH AFRICA ', 45)),
 ('FINLAND', ('SOUTH AFRICA ', 39)),
 ('GAMBIA (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('GRENADA', ('VENEZUELA ', 38)),
 ('GUINEA-BISSAU', ('ISRAEL ', 45)),
 ('GUYANA', ('SYRIA ', 36)),
 ('HAITI', ('TÜRKIYE ', 36)),
 ('HONDURAS', ('SOUTH AFRICA ', 40)),
 ('ICELAND', ('ISRAEL ', 46)),
 ('IRELAND', ('ISRAEL ', 62)),
 ('JAMAICA', ('SOUTH AFRICA ', 51)),
 ('KENYA', ('VENEZUELA ', 43)),
 ('KOREA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO ', 79)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO ', 86)),
 ('LATVIA', ('SOUTH AFRICA ', 45)),
 ('LEBANON', ('REPUBLIC OF THE CONGO ', 39)),
 ('LESOTHO', ('SOUTH AFRICA ', 53)),
 ('LIBERIA', ('SYRIA ', 50)),
 ('LUXEMBOURG', ('REPUBLIC OF THE CONGO ', 27)),
 ('MADAGASCAR', ('SYRIA ', 36)),
 ('MALAWI', ('ISRAEL ', 33)),
 ('MALDIVES', ('REPUBLIC OF THE CONGO ', 32)),
 ('MALI', ('ISRAEL ', 45)),
 ('MALTA', ('VENEZUELA ', 36)),
 ('MAURITIUS', ('SYRIA ', 36)),
 ('MICRONESIA (FEDERATED STATES OF)', ('SYRIA ', 54)),
 ('MOLDOVA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO ', 79)),
 ('MONGOLIA', ('REPUBLIC OF THE CONGO ', 45)),
 ('MONTENEGRO', ('REPUBLIC OF THE CONGO ', 45)),
 ('MOZAMBIQUE', ('VENEZUELA ', 32)),
 ('NAMIBIA', ('SOUTH AFRICA ', 39)),
 ('NEPAL', ('REPUBLIC OF THE CONGO ', 54)),
 ('NICARAGUA', ('ISRAEL ', 45)),
 ('NORTH MACEDONIA', ('SOUTH AFRICA ', 52)),
 ('PANAMA', ('SOUTH AFRICA ', 30)),
 ('PARAGUAY', ('SYRIA ', 36)),
 ('PORTUGAL', ('ISRAEL ', 43)),
 ('RWANDA', ('SYRIA ', 36)),
 ('SAMOA', ('SYRIA ', 40)),
 ('SAO TOME AND PRINCIPE', ('SOUTH AFRICA ', 48)),
 ('SENEGAL', ('VENEZUELA ', 50)),
 ('SEYCHELLES', ('ISRAEL ', 38)),
 ('SIERRA LEONE', ('VENEZUELA ', 46)),
 ('SINGAPORE', ('SYRIA ', 54)),
 ('SLOVENIA', ('VENEZUELA ', 47)),
 ('SOLOMON ISLANDS', ('ISRAEL ', 45)),
 ('SRI LANKA', ('SYRIA ', 57)),
 ('SWEDEN', ('ISRAEL ', 33)),
 ('SWITZERLAND', ('ISRAEL ', 45)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('REPUBLIC OF THE CONGO ', 86)),
 ('TIMOR-LESTE', ('ISRAEL ', 45)),
 ('TOGO', ('REPUBLIC OF THE CONGO ', 68)),
 ('TURKEY', ('TÜRKIYE ', 67)),
 ('URUGUAY', ('SYRIA ', 33)),
 ('ZAMBIA', ('SOUTH AFRICA ', 45)),
 ('ZIMBABWE', ('ISRAEL ', 43))]

In [24]:
changesFragile2={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if 74<=fz.extractOne(f, OnlyMerge1)[1]}

#dict of matches
changesFragile2

{'BAHAMAS (THE)': 'REPUBLIC OF THE CONGO ',
 'COMOROS (THE)': 'REPUBLIC OF THE CONGO ',
 'CONGO (THE)': 'REPUBLIC OF THE CONGO ',
 'GAMBIA (THE)': 'REPUBLIC OF THE CONGO ',
 'KOREA (THE REPUBLIC OF)': 'REPUBLIC OF THE CONGO ',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)": 'REPUBLIC OF THE CONGO ',
 'MOLDOVA (THE REPUBLIC OF)': 'REPUBLIC OF THE CONGO ',
 'TANZANIA, THE UNITED REPUBLIC OF': 'REPUBLIC OF THE CONGO '}

In [25]:
merge1.Country.replace(to_replace=changesFragile2,inplace=True)

In [27]:
OnlyMerge1=set(merge1.Country)-set(countryisos.Country)
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)]

[('AFGHANISTAN', ('ISRAEL ', 50)),
 ('ANTIGUA AND BARBUDA', ('SYRIA ', 36)),
 ('ARMENIA', ('SOUTH AFRICA ', 51)),
 ('BAHAMAS (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('BELGIUM', ('REPUBLIC OF THE CONGO ', 39)),
 ('BHUTAN', ('SOUTH AFRICA ', 45)),
 ('BOSNIA AND HERZEGOVINA', ('SYRIA ', 54)),
 ('BOTSWANA', ('SOUTH AFRICA ', 40)),
 ('BURKINA FASO', ('SYRIA ', 54)),
 ('BURUNDI', ('REPUBLIC OF THE CONGO ', 37)),
 ('CABO VERDE', ('REPUBLIC OF THE CONGO ', 36)),
 ('CAMBODIA', ('SYRIA ', 36)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO ', 69)),
 ('COMOROS (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('COSTA RICA', ('SOUTH AFRICA ', 64)),
 ('CYPRUS', ('SYRIA ', 36)),
 ('DJIBOUTI', ('SOUTH AFRICA ', 40)),
 ('DOMINICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO ', 69)),
 ('EL SALVADOR', ('ISRAEL ', 45)),
 ('ESTONIA', ('SYRIA ', 50)),
 ('ESWATINI', ('SYRIA ', 36)),
 ('FIJI', ('SOUTH AFRICA ', 45)),
 ('FINLAND', ('SOUTH AFRICA ', 39)),
 ('GAMBIA (THE)', ('REPUBLIC OF THE CONGO ', 86)),
 ('GRENADA', ('VENEZUELA ', 38)),
 ('GUINEA-BISSAU', ('ISRAEL ', 45)),
 ('GUYANA', ('SYRIA ', 36)),
 ('HAITI', ('TÜRKIYE ', 36)),
 ('HONDURAS', ('SOUTH AFRICA ', 40)),
 ('ICELAND', ('ISRAEL ', 46)),
 ('IRELAND', ('ISRAEL ', 62)),
 ('JAMAICA', ('SOUTH AFRICA ', 51)),
 ('KENYA', ('VENEZUELA ', 43)),
 ('KOREA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO ', 79)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO ', 86)),
 ('LATVIA', ('SOUTH AFRICA ', 45)),
 ('LEBANON', ('REPUBLIC OF THE CONGO ', 39)),
 ('LESOTHO', ('SOUTH AFRICA ', 53)),
 ('LIBERIA', ('SYRIA ', 50)),
 ('LUXEMBOURG', ('REPUBLIC OF THE CONGO ', 27)),
 ('MADAGASCAR', ('SYRIA ', 36)),
 ('MALAWI', ('ISRAEL ', 33)),
 ('MALDIVES', ('REPUBLIC OF THE CONGO ', 32)),
 ('MALI', ('ISRAEL ', 45)),
 ('MALTA', ('VENEZUELA ', 36)),
 ('MAURITIUS', ('SYRIA ', 36)),
 ('MICRONESIA (FEDERATED STATES OF)', ('SYRIA ', 54)),
 ('MOLDOVA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO ', 79)),
 ('MONGOLIA', ('REPUBLIC OF THE CONGO ', 45)),
 ('MONTENEGRO', ('REPUBLIC OF THE CONGO ', 45)),
 ('MOZAMBIQUE', ('VENEZUELA ', 32)),
 ('NAMIBIA', ('SOUTH AFRICA ', 39)),
 ('NEPAL', ('REPUBLIC OF THE CONGO ', 54)),
 ('NICARAGUA', ('ISRAEL ', 45)),
 ('NORTH MACEDONIA', ('SOUTH AFRICA ', 52)),
 ('PANAMA', ('SOUTH AFRICA ', 30)),
 ('PARAGUAY', ('SYRIA ', 36)),
 ('PORTUGAL', ('ISRAEL ', 43)),
 ('RWANDA', ('SYRIA ', 36)),
 ('SAMOA', ('SYRIA ', 40)),
 ('SAO TOME AND PRINCIPE', ('SOUTH AFRICA ', 48)),
 ('SENEGAL', ('VENEZUELA ', 50)),
 ('SEYCHELLES', ('ISRAEL ', 38)),
 ('SIERRA LEONE', ('VENEZUELA ', 46)),
 ('SINGAPORE', ('SYRIA ', 54)),
 ('SLOVENIA', ('VENEZUELA ', 47)),
 ('SOLOMON ISLANDS', ('ISRAEL ', 45)),
 ('SRI LANKA', ('SYRIA ', 57)),
 ('SWEDEN', ('ISRAEL ', 33)),
 ('SWITZERLAND', ('ISRAEL ', 45)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('REPUBLIC OF THE CONGO ', 86)),
 ('TIMOR-LESTE', ('ISRAEL ', 45)),
 ('TOGO', ('REPUBLIC OF THE CONGO ', 68)),
 ('TURKEY', ('TÜRKIYE ', 67)),
 ('URUGUAY', ('SYRIA ', 33)),
 ('ZAMBIA', ('SOUTH AFRICA ', 45)),
 ('ZIMBABWE', ('ISRAEL ', 43))]

In [28]:
changesFragile3={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if 54==fz.extractOne(f, OnlyMerge1)[1]}

#dict of matches
changesFragile3

{'BOSNIA AND HERZEGOVINA': 'SYRIA ',
 'BURKINA FASO': 'SYRIA ',
 'MICRONESIA (FEDERATED STATES OF)': 'SYRIA ',
 'NEPAL': 'REPUBLIC OF THE CONGO ',
 'SINGAPORE': 'SYRIA '}

In [30]:
merge1Isos=merge1.merge(countryisos) #merge on Country
merge1Isos

,Country,Education Expenditure ($M),Annual GDP,Crude Oil Reserves,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,"1,014,715.40","$25,744,100M","44,418.00","Baker¬†Island, Howland¬†Island, Jarvis¬†Island...",NaN,UM,UMI
1,UNITED KINGDOM,"148,933.50","$3,070,600M","2,500.00",The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,"197,848.90","$4,075,395M",115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,"150,980.20","$2,782,905M",61.7,The French Republic,.fr,FR,FRA
4,JAPAN,"155,149.20","$4,233,538M",44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
88,UKRAINE,"8,374.40","$160,503M",395,Ukraine,.ua,UA,UKR
89,UGANDA,"1,144.40","$45,559M","2,500.00",The Republic of Uganda,.ug,UG,UGA
90,UZBEKISTAN,"2,964.80","$80,392M",594,The Republic of Uzbekistan,.uz,UZ,UZB
91,VIET NAM,"13,478.30","$406,452M","4,400.00",The Socialist Republic of Viet Nam,.vn,VN,VNM
92,YEMEN,"1,386.30","$21,062M","3,000.00",The Republic of Yemen,.ye,YE,YEM