In [1]:
import pandas as pd

gastopublicLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/GastopublicoEducacion.csv'
onuLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/ONU.csv'
reservaspetLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/Reservaspet.csv'

gastopublic=pd.read_csv(gastopublicLink)
onu=pd.read_csv(onuLink)
reservaspet=pd.read_csv(reservaspetLink)

In [2]:
gastopublic.shape,onu.shape,reservaspet.shape

((192, 2), (193, 2), (99, 2))

In [3]:
gastopublic.columns,onu.columns,reservaspet.columns

(Index(['Countries', 'Education Expenditure ($M)'], dtype='object'),
 Index(['Countries', 'Annual GDP'], dtype='object'),
 Index(['Countries', 'Crude Oil Reserves'], dtype='object'))

In [4]:
#Union=gastopublic.merge(onu,how='inner',left_on='Countries',right_on='Countries')
#Union
merge1=gastopublic.merge(onu,how='inner',left_on='Countries',right_on='Countries').merge(reservaspet,how='inner',left_on='Countries',right_on='Countries')
merge1

,Countries,Education Expenditure ($M),Annual GDP,Crude Oil Reserves
0,United States [+],"1,014,715.40","$25,744,100M","44,418.00"
1,United Kingdom [+],"148,933.50","$3,070,600M","2,500.00"
2,Germany [+],"197,848.90","$4,075,395M",115.2
3,France [+],"150,980.20","$2,782,905M",61.7
4,Japan [+],"155,149.20","$4,233,538M",44.1
...,...,...,...,...
93,Uzbekistan [+],"2,964.80","$80,392M",594
94,Venezuela [+],"1,557.60","$102,021M","303,806.00"
95,Viet Nam [+],"13,478.30","$406,452M","4,400.00"
96,Yemen [+],"1,386.30","$21,062M","3,000.00"
97,South Africa [+],"20,902.30","$405,705M",15

In [6]:
merge1.shape

(98, 4)

In [5]:
import pandas as pd

gastopublicLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/GastopublicoEducacion.csv'

gastopublic=pd.read_csv(gastopublicLink)

              Countries Education Expenditure ($M)
0     United States [+]               1,014,715.40
1    United Kingdom [+]                 148,933.50
2           Germany [+]                 197,848.90
3            France [+]                 150,980.20
4             Japan [+]                 155,149.20
..                  ...                        ...
187           Samoa [+]                       41.7
188           Yemen [+]                   1,386.30
189    South Africa [+]                  20,902.30
190          Zambia [+]                      670.5
191        Zimbabwe [+]                   1,428.30

[192 rows x 2 columns]